In [1]:
## MongoDB Aggregate
## Avg, Sum, and Project

In [2]:
from pymongo import MongoClient

client = MongoClient("mongodb://127.0.0.1:27017/")
mydatabase = client["Students"]
collection = mydatabase["studentscores"]
data = [
    {"user":"Krish", "subject":"Database", "score":80},
    {"user":"Amit",  "subject":"JavaScript", "score":90},
    {"user":"Amit",  "title":"Database", "score":85},
    {"user":"Krish",  "title":"JavaScript", "score":75},
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}]
collection.insert_many(data)

In [4]:
## Find amit and Krish total Subjects
age_result = collection.aggregate(
    [{
        "$group":
            {
                "_id":"$user",
                "Total Subject": {"$sum":1}
            }
    }])

for i in age_result:
    print(i)

{'_id': 'Amit', 'Total Subject': 3}
{'_id': 'Krish', 'Total Subject': 3}

In [7]:
## Find amit and Krish total Marks
age_result = collection.aggregate(
    [{
        "$group":
            {
                "_id":"$user",
                "Total Marks": {"$sum":"$score"}
            }
    }])

for i in age_result:
    print(i)

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [8]:
## Find amit and Krish Average marks
age_result = collection.aggregate(
    [{
        "$group":
            {
                "_id":"$user",
                "Student Average": {"$avg":"$score"}
            }
    }])

for i in age_result:
    print(i)

{'_id': 'Krish', 'Total Marks': 83.33333333333333}
{'_id': 'Amit', 'Total Marks': 78.33333333333333}

In [9]:
import datetime as datetime

In [10]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [12]:
mycollection = mydatabase["stores"]
mycollection.insert_many(data)

In [14]:
agg_result = mycollection.aggregate(
    [
        {
            "$group":{
                "_id":"$item",
                "avgAmount":{"$avg":{"$multiply":["$price","$quantity"]}},
                "avgQuantity":{"$avg":"$quantity"}
            }
        }
    ]
)

for i in age_result:
    print(i)

In [15]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [16]:
collection = mydatabase["Books"]
collection.insert_many(data)

In [18]:
arrow = collection.aggregate([
    {
        "$project": {"title": 1, "isbn": 1}
    }
])
for i in arrow:
    print(i)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}